html {
  box-sizing: border-box;
}

*,
*:before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  background-color: #effdbb;
  padding: 0;
  margin: 0;
  font-size: 2rem;
}

button,
input {
  font-family: inherit; /* 1 */
  font-size: 1.7rem; /* 1 */
  line-height: 1.35; /* 1 */
  margin: 0.2rem 0.5rem; /* 2 */
  border-radius: 5px 20px 5px;
  padding: 0.3rem 0.8rem;
  font-family: 'Black Han Sans', sans-serif;
}

img {
  width: auto;
  max-width: 40%;
  height: 100vh;
}

#content {
  padding: 3% 5%;
}

h1 {
  font-size: 3rem;
  color: #5b6f11;
  font-family: 'Lobster', cursive;
}

.liStriked {
  text-decoration: line-through;
}


/* This selects the input field  */
[type="text"] {
  width: 70%;
}

[type="submit"] {
  background-color: #3b0059;
  color: white;
  width: 20%;
  font-size: ;
  float: right;
}

[type="submit"]:hover {
  background-color: white;
  color: #3b0059;
  width: 20%;
  font-size: ;
  border-radius: 20px 5px 20px;
}

.markTodo {
  float: right;
  color: #3e4b0e;
  font-weight: 700;
}

.deleteButton {
  float: right;
  background-color: #901506;
  color: white;

ul > li {
  font-family: 'Roboto', sans-serif;
  list-style-type: none;
  line-height: 2;
}

.list-items {
  border: 0.1rem solid #757575;
  margin: 0.6rem;
  padding: 1rem;
  box-shadow: 5px 4px #666666;

}
