html {
  box-sizing: border-box;
}

*,
*:before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #effdbb;
  padding: 0;
  margin: 0;
  font-size: 2rem;
}

button,
input {
  font-size: 1rem;
  line-height: 1.35;
  margin: 0.2rem 0.5rem;
  border-radius: 5px 20px 5px;
  padding: 0.8rem 0.8rem;
}

input {
  font-family: "Roboto", sans-serif;
}

button {
  font-family: "Black Han Sans", sans-serif;
  cursor: pointer;
}

.body-grid {
  display: grid;
  grid-template-columns: 40% 60%;
}

.image {
  background-image: url(tree.jpeg);
  background-attachment: fixed;
  background-size: contain;
  background-repeat: no-repeat;
  object-fit: cover;
}

#content {
  padding: 2% 5%;
  min-height: 100vh;
}

h1 {
  font-family: "Black Han Sans", sans-serif;
  text-align: center;
  font-size: 3vw;
  color: black;
}

.liStriked {
  text-decoration: line-through;
}

/* --------------------------INPUT & SUBMIT  --------------------------*/
[type="text"] {
  width: 65%;
}

[type="submit"] {
  color: white;
  width: 20%;
  font-family: "Black Han Sans", sans-serif;
  padding: 1rem;
  cursor: pointer;
  background-color: #0b3954;
}

[type="submit"]:hover {
  background-color: #bbe5ed;
  color: #0b3954;
  width: 20%;
  font-size: ;
  border-radius: 20px 5px 20px;
}

#inputField {
  font-size: 2rem;
}

/* --------------------------LIST AND LIST ELEMENTS  --------------------------*/

ul {
  padding: 0;
}

ul > li {
  font-family: "Roboto", sans-serif;
  list-style-type: none;
  line-height: 2;
  display: grid;
  grid-template-areas:
    "content content content"
    "delete complete edit";
  grid-template-columns: 1fr 1fr 1fr;
}

.list-items {
  border: 0.1rem solid rgba(24, 38, 2, 0.6);
  border-radius: 4px;
  margin: 0.6rem;
  padding: 1rem;
  box-shadow: 2px 2px rgba(24, 38, 2, 0.4);
  min-width: -webkit-fill-available;
  background-color: #fcfde8;
  word-break: break-all;
}

li span,
li input {
  grid-area: content;
}

li span {
  padding: 0 1.5%;
}

li input {
  font-size: 2rem;
}

/* --------------------------BUTTONS IN FORM  --------------------------*/
.deleteButton {
  float: right;
  background-color: #901506;
  color: white;
  grid-area: delete;
}

.editButton {
  grid-area: edit;
}

li button:nth-child(2) {
  background-color: #89ac09;
  grid-area: complete;
}

#notComplete {
  background-color: white;
}

@media only screen and (max-width: 800px) {
  .body-grid {
    display: block;
    grid-template-columns: 0% 100%;
  }
  body {
    font-size: 1.5rem;
  }
  button,
  input {
    font-size: 0.6rem;
  }
  #inputField {
    font-size: 1.5rem;
  }

  h1 {
    font-size: 6vw;
  }
}
