html {
  box-sizing: border-box;
}

*,
*:before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #effdbb;
  padding: 0;
  margin: 0;
  font-size: 2rem;
}

button,
input {
  font-family: inherit; /* 1 */
  font-size: 1rem; /* 1 */
  line-height: 1.35; /* 1 */
  margin: 0.2rem 0.5rem; /* 2 */
  border-radius: 5px 20px 5px;
  padding: 0.3rem 0.8rem;
  font-family: "Roboto", sans-serif;
}

button {
  font-family: "Black Han Sans", sans-serif;
  cursor: pointer;
  background-color: #3da35d;
}

.body-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  font-family: "Black Han Sans", sans-serif;
}

.image {
  background-image: url(tree.jpeg);
  background-attachment: fixed;
  background-size: contain;
  background-repeat: no-repeat;
  object-fit: cover;
}

#content {
  padding: 3% 5%;
}

/* #todo-container {
  display: flex;
  justify-content: center;
} */

h1 {
  font-size: 3rem;
  color: #5b6f11;
  font-family: "Lobster", cursive;
}

.liStriked {
  text-decoration: line-through;
}

/* This selects the input field  */
[type="text"] {
  width: 70%;
}

[type="submit"] {
  color: white;
  width: 20%;
  font-size: ;
  float: right;
  font-family: "Black Han Sans", sans-serif;
  padding: 1rem;
  cursor: pointer;
  background-color: #0b3954;
}

[type="submit"]:hover {
  background-color: #bbe5ed;
  color: #0b3954;
  width: 20%;
  font-size: ;
  border-radius: 20px 5px 20px;
}

.markTodo {
  float: right;
  color: #3e4b0e;
  font-weight: 700;
}

#inputField {
  font-size: 2rem;
}

ul {
  margin: rem;
}

.deleteButton {
  float: right;
  background-color: #901506;
  color: white;
}

ul > li {
  font-family: "Roboto", sans-serif;
  list-style-type: none;
  line-height: 2;
  display: grid;
  grid-template-rows: 20% 20% 20% 70%;
}

.list-items {
  border: 0.1rem solid #757575;
  margin: 0.6rem;
  padding: 1rem;
  box-shadow: 5px 4px #666666;
  min-width: -webkit-fill-available;
  background-color: #bbe5ed;
}

.deleteButton {
  float: right;
  background-color: #ff6663;
}
